# System libraries and binaries
/lib/
/lib64/
/lib32/
/bin/
/sbin/
/usr/bin/
/usr/sbin/

# System and temporary directories
/proc/
/dev/
/sys/
/tmp/
/run/
/mnt/
/root/
/sources/
/bin/

/lost+found/

# Log files in /var
/var/log/

# Cache and temporary data
/var/cache/

# Do not track the entire /boot, be selective
/boot/*.img
/boot/initrd*
# But DO track your grub config, so don't ignore /boot/grub/

# Do not track the entire /etc, be selective, so we don't ignore it globally
# /etc/

# Optional: Ignore all hidden files in root (be careful with this)
# /.*