# System libraries and binaries
lib
/lib64/
/lib32/
bin
sbin
usr/


# System and temporary directories
/proc/
/dev/
/sys/
/tmp/
/run/
/mnt/
/root/
/sources/


/lost+found/

/var/


/boot/*.img
/boot/initrd*


# /etc/


# /.*